<div style="line-height:600%; background-color:#595959">
    <font color=white face="DejaVu Serif" size=5>
        <div align=center>            
            Initial Settings            
        </div>
    </font>    
</div>

### Load Required Libraries

In [1]:
import os
import sys
import pandas as pd
import numpy as np
from plydata import *

### Set Pandas Options

In [2]:
pd.set_option('display.min_rows', 20)
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 50)
pd.options.display.float_format = '{:,.2f}'.format

### Set Project Path

In [3]:
OS = "UBUNTU"

if OS == "WINDOWS":
    PROJECT_PATH = "c:/w/HydroTech/"
else:
    PROJECT_PATH = "/home/pooya/w/HydroTech/"

### Load Required Functions

#### Function 01 - Extract 'Region', 'District' from 'Peyman' Column

In [4]:
def extractRD(x, para):

    if para == 'ناحیه':
        if para not in x:
            return np.nan
        elif (x.index(para) + 1) >= len(x):
            return np.nan
        else:
            return str(x[x.index(para) + 1]).zfill(2)

    if para == 'منطقه':
        if para not in x:
            if ('کمربند' in x) and ('جنوبی' in x):
                return '14'
            elif ('کمربند' in x) and ('شمالی' in x):
                return '15'
            elif ('سازمان' in x) and ('پارک‌ها' in x):
                return '16'
            else:
                return np.nan
        elif (x.index(para) + 1) >= len(x):
            return np.nan
        else:
            if str(x[x.index(para) + 1]) == 'ثامن':
                return '13'
            else:
                return str(x[x.index(para) + 1]).zfill(2)

<div style="line-height:600%; background-color:#595959">
    <font color=white face="DejaVu Serif" size=5>
        <div align=center>            
            Load Data            
        </div>
    </font>    
</div>

### Read Data

In [5]:
raw_data = pd.read_excel(PROJECT_PATH + 'Data/Processed_Data/Merged_Data.xlsx')
raw_data

,ردیف,پیمان,تاریخ شروع پیمان,تاریخ پایان پیمان,آخرین شماره صورت وضعیت تاکنون,نوع آیتم,نوع لکه,نام لکه,نوع قلم,زیرمجموعه هر قلم,مقدار در صورتجلسه تحویل و تحول,نمایش آخرین ریزمتره (ریزمتره نهایی),مساحت لکه (مترمربع),مساحت پیمان (مترمربع),میزان افزایش/کاهش ریزمتره (تعداد)
0,"1,544.00",الف ناحیه 1 منطقه 1,1397/03/01,1400/03/01,20.00,ریزآیتمی,آیلند ها,آیلند بلوار ابوذر و لچکی ها,پرچین,آبیاری تانکری,"1,405.00","1,405.00","2,718.00","122,292.00",0
1,"1,458.00",الف ناحیه 1 منطقه 1,1397/03/01,1400/03/01,20.00,ریزآیتمی,آیلند ها,آیلند بلوار ابوذر و لچکی ها,پرچین,آبیاری شلنگی,299.00,299.00,"2,718.00","122,292.00",0
2,"1,486.00",الف ناحیه 1 منطقه 1,1397/03/01,1400/03/01,20.00,ریزآیتمی,آیلند ها,آیلند بلوار ابوذر و لچکی ها,پرچین,متر مربع,"1,704.00","1,704.00","2,718.00","122,292.00",0
3,"1,603.00",الف ناحیه 1 منطقه 1,1397/03/01,1400/03/01,20.00,ریزآیتمی,آیلند ها,آیلند بلوار ابوذر و لچکی ها,چمن,آبیاری شلنگی,784.00,784.00,"2,718.00","122,292.00",0
4,"1,578.00",الف ناحیه 1 منطقه 1,1397/03/01,1400/03/01,20.00,ریزآیتمی,آیلند ها,آیلند بلوار ابوذر و لچکی ها,چمن,متر مربع,784.00,784.00,"2,718.00","122,292.00",0
5,204.00,الف ناحیه 1 منطقه 1,1397/03/01,1400/03/01,20.00,حجمی,آیلند ها,آیلند بلوار ابوذر و لچکی ها,حفظ و نگهداری پرچین,متر مربع,"1,704.00","1,704.00","2,718.00","122,292.00",0
6,251.00,الف ناحیه 1 منطقه 1,1397/03/01,1400/03/01,20.00,حجمی,آیلند ها,آیلند بلوار ابوذر و لچکی ها,حفظ و نگهداری چمن,متر مربع,784.00,784.00,"2,718.00","122,292.00",0
7,264.00,الف ناحیه 1 منطقه 1,1397/03/01,1400/03/01,20.00,حجمی,آیلند ها,آیلند بلوار ابوذر و لچکی ها,حفظ و نگهداری گل دائمی,متر مربع,210.00,210.00,"2,718.00","122,292.00",0
8,306.00,الف ناحیه 1 منطقه 1,1397/03/01,1400/03/01,20.00,حجمی,آیلند ها,آیلند بلوار ابوذر و لچکی ها,حفظ و نگهداری گل فصلی,متر مربع,20.00,20.00,"2,718.00","122,292.00",0
9,323.00,الف ناحیه 1 منطقه 1,1397/03/01,1400/03/01,20.00,ریزآیتمی,آیلند ها,آیلند بلوار ابوذر و لچکی ها,درخت و درختچه,اصله,365.00,365.00,"2,718.00","122,292.00",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61455,nan,ناحیه 7.1 سازمان پارک‌ها,NaN,NaN,nan,NaN,پارک های بین 6 تا 10 هکتار,پارک ریحانه,چمن,متر مربع,nan,"8,950.00","82,094.00","256,862.00",NaN
61456,nan,ناحیه 7.1 سازمان پارک‌ها,NaN,NaN,nan,NaN,پارک های بین 6 تا 10 هکتار,پارک ریحانه,گل دائم باغچه های معمولی,آبیاری شلنگی,nan,"6,612.00","82,094.00","256,862.00",NaN
61457,nan,ناحیه 7.1 سازمان پارک‌ها,NaN,NaN,nan,NaN,پارک های بین 6 تا 10 هکتار,پارک ریحانه,گل دائم باغچه های معمولی,متر مربع,nan,"6,612.00","82,094.00","256,862.00",NaN
61458,nan,ناحیه 7.1 سازمان پارک‌ها,NaN,NaN,nan,NaN,پارک های بین 6 تا 10 هکتار,پارک ریحانه,گل فصل باغچه های معمولی,آبیاری شلنگی,nan,"1,513.00","82,094.00","256,862.00",NaN
61459,nan,ناحیه 7.1 سازمان پارک‌ها,NaN,NaN,nan,NaN,پارک های بین 6 تا 10 هکتار,پارک ریحانه,گل فصل باغچه های معمولی,متر مربع,nan,"1,513.00","82,094.00","256,862.00",NaN
61460,nan,ناحیه 7.1 سازمان پارک‌ها,NaN,NaN,nan,NaN,پارک های بین 6 تا 10 هکتار,پارک ریحانه,پرچین,آبیاری شلنگی,nan,"5,612.00","82,094.00","256,862.00",NaN
61461,nan,ناحیه 7.1 سازمان پارک‌ها,NaN,NaN,nan,NaN,پارک های بین 6 تا 10 هکتار,پارک ریحانه,پرچین,متر مربع,nan,"5,612.00","82,094.00","256,862.00",NaN
61462,nan,ناحیه 7.1 سازمان پارک‌ها,NaN,NaN,nan,NaN,پارک های بین 6 تا 10 هکتار,پارک ریحانه,درخت و درختچه,آبیاری شلنگی,nan,"3,936.00","82,094.00","256,862.00",NaN
61463,nan,ناحیه 7.1 سازمان پارک‌ها,NaN,NaN,nan,NaN,پارک های بین 6 تا 10 هکتار,پارک ریحانه,درخت و درختچه,آبیاری تانکری,nan,"54,487.00","82,094.00","256,862.00",NaN
61464,nan,ناحیه 7.1 سازمان پارک‌ها,NaN,NaN,nan,NaN,پارک های بین 6 تا 10 هکتار,پارک ریحانه,درخت و درختچه,متر مربع,nan,"58,423.00","82,094.00","256,862.00",NaN

<div style="line-height:600%; background-color:#595959">
    <font color=white face="DejaVu Serif" size=5>
        <div align=center>            
            Data Cleansing            
        </div>
    </font>    
</div>

<div style="line-height:300%; background-color:black">
    <font color=white face="DejaVu Serif" size=3>
        <div align=center>
        حذف سطرهای تکراری
        </div>
    </font>    
</div>

### Report Duplicated Rows

In [ ]:
tmp = raw_data[raw_data.duplicated(subset=list(raw_data.columns)[1:], keep=False)]
tmp = tmp.sort_values(['پیمان', 'نام لکه', 'نوع قلم', 'زیرمجموعه هر قلم'])
tmp.to_excel(PROJECT_PATH + "Report/Duplicate_Rows.xlsx", index=False)
print(f"Total Number of Duplicate Rows in a Data: {tmp.shape[0]}")

tmp = raw_data[raw_data.duplicated(subset=list(raw_data.columns)[1:], keep='first')]
print(f"Total Number of Duplicate Items in a Data: {tmp.shape[0]}")

### Remove Duplicated Rows

In [ ]:
raw_data = raw_data.drop_duplicates(subset=list(raw_data.columns)[1:], keep='first')
print(f"Data Size: {raw_data.shape}")

<div style="line-height:300%; background-color:black">
    <font color=white face="DejaVu Serif" size=3>
        <div align=center>
حذف سطر هایی که «نوع آیتم» آنها برابر با «حجمی» میباشد        </div>
    </font>    
</div>

In [ ]:
raw_data["نوع آیتم"].value_counts(dropna=False)

### گزارش - فقط حجمی

In [ ]:
pd.set_option('display.min_rows', 100)
pd.set_option('display.max_rows', 100)

tmp = raw_data["نوع آیتم"] == "حجمی"
pd.DataFrame(raw_data[tmp].groupby(['نوع قلم', 'زیرمجموعه هر قلم']).size()).rename(columns={0 : 'تعداد'})

### گزارش - فقط ریزآیتمی

In [ ]:
pd.set_option('display.min_rows', 100)
pd.set_option('display.max_rows', 100)

tmp = raw_data["نوع آیتم"] == "ریزآیتمی"
pd.DataFrame(raw_data[tmp].groupby(['نوع قلم', 'زیرمجموعه هر قلم']).size()).rename(columns={0 : 'تعداد'})

### حذف نوع آیتم حجمی

In [ ]:
tmp = raw_data["نوع آیتم"] == "حجمی"
tmp = tmp[tmp.values == True]
raw_data.drop(index=tmp.index, inplace=True)
print(f"Data Size: {raw_data.shape}")

<div style="line-height:300%; background-color:black">
    <font color=white face="DejaVu Serif" size=3>
        <div align=center>            
            استخراج منطقه - ناحیه - پیمان - آدرس 
        </div>
    </font>    
</div>

### Extract Region

In [ ]:
raw_data["Region"] = raw_data["پیمان"].str.strip().str.split().apply(extractRD, para="منطقه")

### Extract District

In [ ]:
raw_data["District"] = raw_data["پیمان"].str.strip().str.split().apply(extractRD, para="ناحیه")

### Extract Peyman

In [ ]:
# Extract Uniqe Peyman
Peymans = pd.DataFrame(raw_data.groupby(['Region', 'District'])['پیمان'].value_counts(dropna=False, sort=False))
Peymans = Peymans.rename(columns ={'پیمان': 'NumberPeyman'}).reset_index()
Peymans['Peyman'] = range(1, Peymans.shape[0] + 1)
Peymans['Peyman'] = Peymans['Peyman'].astype(str).str.zfill(2)

Peyman = []
for R in list(Peymans['Region'].unique()):
    PeymansR = Peymans[Peymans['Region'] == R]
    for D in list(PeymansR['District'].unique()):
        PeymansD = PeymansR[PeymansR['District'] == D]
        Peyman += list(range(1, len(PeymansD) + 1))

Peymans['Peyman'] = Peyman
Peymans['Peyman'] = Peymans['Peyman'].astype(str).str.zfill(2)

# Add Peyman To raw_data
raw_data = pd.merge(raw_data, Peymans[['Region', 'District', 'پیمان', 'Peyman']], how='left', left_on=['Region', 'District', 'پیمان'], right_on=['Region', 'District', 'پیمان'])

### Extract Address

In [ ]:
# Extract Uniqe Address
Address = pd.DataFrame(raw_data.groupby(['Region', 'District', 'Peyman'])['نام لکه'].value_counts(dropna=False, sort=False))
Address = Address.rename(columns ={'نام لکه': 'Count'}).reset_index()

Address_Class = []
for R in list(Address['Region'].unique()):
    AddressR = Address[Address['Region'] == R]
    for D in list(AddressR['District'].unique()):
        AddressD = AddressR[AddressR['District'] == D]
        for P in list(AddressD['Peyman'].unique()):
            AddressP = AddressD[AddressD['Peyman'] == P]
            Address_Class += list(range(1, len(AddressP) + 1))

Address['Address'] = Address_Class
Address['Address'] = Address['Address'].astype(str).str.zfill(3)

# Add Address To raw_data
raw_data = pd.merge(raw_data, Address[['Region', 'District', 'Peyman', 'نام لکه', 'Address']], how='left', left_on=['Region', 'District', 'Peyman', 'نام لکه'], right_on=['Region', 'District', 'Peyman', 'نام لکه'])

<div style="line-height:200%; background-color:green">
    <font color=white face="DejaVu Serif" size=5>
        <div align=center>            
            Create Report ...          
        </div>
    </font>    
</div>

### Check Region

In [ ]:
raw_data['Region'].value_counts(dropna=False, sort=True)

### Check District

In [ ]:
raw_data['District'].value_counts(dropna=False, sort=True)

### Check Peyman

In [ ]:
raw_data['Peyman'].value_counts(dropna=False)

### Check Address

In [ ]:
raw_data['Address'].value_counts(dropna=False)

### Check Region, District and Peyman

In [ ]:
pd.DataFrame(raw_data.astype(str).groupby(['Region', 'District', 'Peyman', 'پیمان']).size()).rename(columns ={0: 'Count'})

### Report of Region, District, Peyman

In [ ]:
tmp = pd.DataFrame(raw_data.astype(str).groupby(['Region', 'District', 'Peyman', 'پیمان']).size())
tmp = tmp.rename(columns ={0: 'Count'})
tmp.to_excel(PROJECT_PATH + "Report/Region_District_Peyman.xlsx", index=True)

### Report of Region, District, Peyman, Address

In [ ]:
tmp = Address.set_index(keys=['Region', 'District', 'Peyman', 'Address'])
tmp.to_excel(PROJECT_PATH + "Report/Region_District_Peyman_Address.xlsx", index=True)

<div style="line-height:200%; background-color:green">
    <font color=white face="DejaVu Serif" size=5>
        <div align=center>            
            ... Create Report        
        </div>
    </font>    
</div>

<div style="line-height:300%; background-color:black">
    <font color=white face="DejaVu Serif" size=3>
        <div align=center>            
            استخراج شکل لکه 
        </div>
    </font>    
</div>

### Define Spots Class

In [ ]:
Spots_Class = {
    'میادین' : '01',
    'لچکی ها' : '02',
    'آیلند های بزرگراه' : '03',
    'آیلند ها' : '04',
    'حاشیه های بزرگراه' : '05',
    'حاشیه معابر' : '06',
    'بوستان خطی' : '07',
    'پارک های زیر 6 هکتار' : '08',
    'پارک های بین 6 تا 10 هکتار' : '09',
    'پارک های بالای 10 هکتار' : '10',
    'جنگل کاری داخل محدوده' : '11',
    'کمربندی' : '12',
    'کمربند سبز حفاظتی' : '13',
}

### Extract All Spots Class In Data

In [ ]:
raw_data_spots = raw_data['نوع لکه'].value_counts(dropna=False, sort=True).reset_index().rename(columns ={'index': 'نوع لکه', 'نوع لکه': 'Count'})
raw_data_spots

### Add Spots Class to raw_data_spots

In [ ]:
raw_data_spots['Spot'] = list(map(Spots_Class.get, raw_data_spots['نوع لکه']))
raw_data_spots.to_excel(PROJECT_PATH + 'Report/Type_of_Spot.xlsx', index=False)
raw_data_spots

In [ ]:
raw_data = pd.merge(raw_data, raw_data_spots[['نوع لکه', 'Spot']], how='left', left_on=['نوع لکه'], right_on=['نوع لکه'])

<div style="line-height:300%; background-color:black">
    <font color=white face="DejaVu Serif" size=3>
        <div align=center>
            استخراج روش آبیاری
        </div>
    </font>    
</div>

### Irrigation Method Class

In [ ]:
Irrigation_Method_Class = {
    'آبیاری ثقلی' : '01',
    'آبیاری تانکری' : '02',
    'آبیاری شلنگی' : '03',
    'آبیاری تحت فشار' : '04'
}

### Extract All Irrigation Method Class In Data

In [ ]:
Irrigation = raw_data['زیرمجموعه هر قلم'].value_counts(dropna=False, sort=True).reset_index().rename(columns ={'index': 'زیرمجموعه هر قلم', 'زیرمجموعه هر قلم': 'Count'})
Irrigation['Irrigation'] = list(map(Irrigation_Method_Class.get, Irrigation['زیرمجموعه هر قلم']))
Irrigation

### Add Irrigation Method Class to raw_data

In [ ]:
raw_data = pd.merge(raw_data, Irrigation[['زیرمجموعه هر قلم', 'Irrigation']], how='left', left_on=['زیرمجموعه هر قلم'], right_on=['زیرمجموعه هر قلم'])
raw_data.fillna(value=np.nan, inplace=True)

<div style="line-height:300%; background-color:black">
    <font color=white face="DejaVu Serif" size=3>
        <div align=center>
            استخراج نوع گونه        
        </div>
    </font>    
</div>

### Show All Species Plant Class In Data

In [ ]:
raw_data['نوع قلم'].value_counts(dropna=False, sort=True).reset_index().rename(columns ={'index': 'نوع قلم', 'نوع قلم': 'Count'})

### گزارش «نوع قلم» و «زیرمجموعه قلم» به ترتیب

In [ ]:
tmp = pd.DataFrame(raw_data.groupby(['نوع قلم', 'زیرمجموعه هر قلم']).size()).rename(columns={0:'تعداد'})
tmp.to_excel(PROJECT_PATH + '/Report/Ghalam_SubGhalam.xlsx', index=True)
tmp

### گزارش «زیرمجموعه هر قام» و «نوع قلم» به ترتیب

In [ ]:
tmp = pd.DataFrame(raw_data.groupby(['زیرمجموعه هر قلم', 'نوع قلم']).size()).rename(columns={0:'تعداد'})
tmp.to_excel(PROJECT_PATH + '/Report/SubGhalam_Ghalam.xlsx', index=True)
tmp

### تعریف کلاس های مختلف گونه

In [ ]:
Species_Plant_Class = {
    'چمن' : '01',
    'گل دائم باغچه های معمولی' : '02',
    'گل دائم فلاورباکسهای سطوح شیب دار' : '04',
    'گل فصل باغچه های معمولی' : '05',
    'پرچین' : '06',
    'درخت و درختچه' : '10',
    'درختان جنگلی' : '12',
    'گل فصل فلاورباکس های سطوح شیب دار' : '14'   
}

### Extract All Species Plant Class In Data

In [ ]:
Species = raw_data['نوع قلم'].value_counts(dropna=False, sort=True).reset_index().rename(columns ={'index': 'نوع قلم', 'نوع قلم': 'Count'})
Species['Species'] = list(map(Species_Plant_Class.get, Species['نوع قلم']))
Species

### Add Species Plant Class to raw_data

In [ ]:
raw_data = pd.merge(raw_data, Species[['نوع قلم', 'Species']], how='left', left_on=['نوع قلم'], right_on=['نوع قلم'])
raw_data.fillna(value=np.nan, inplace=True)

<div style="line-height:300%; background-color:black">
    <font color=white face="DejaVu Serif" size=3>
        <div align=center>
        تولید کد
        </div>
    </font>    
</div>

### Check Number of NaN

In [ ]:
raw_data[['Region', 'District', 'Peyman', 'Address', 'Spot', 'Irrigation', 'Species']].isnull().sum()

### Generate ID

In [ ]:
raw_data = raw_data >> define(ID = 'Region + District + Peyman + Address + "-" + Spot + Irrigation + Species')

### Check ID

In [ ]:
pd.DataFrame(raw_data.astype(str).groupby(['ID']).size()).rename(columns ={0: 'Count'}) >> query("Count >= 2")

In [ ]:
raw_data >> query("ID == '020301016-110110'")

### Save Duplicate ID

In [ ]:
tmp = raw_data.dropna(subset=['ID']).duplicated(subset="ID", keep=False)
tmp = raw_data.dropna(subset=['ID'])[tmp.values]
tmp.to_excel(PROJECT_PATH + '/Report/Duplicate_ID.xlsx', index=False)

### Remove Duplicate ID

In [ ]:
tmp = raw_data.dropna(subset=['ID']).duplicated(subset="ID", keep='last')
tmp = tmp[tmp.values == True].index
raw_data.drop(axis=0, index=tmp, inplace=True)

### Check Data

In [ ]:
print(f"Data Size: {raw_data.shape}")

<div style="line-height:300%; background-color:black">
    <font color=white face="DejaVu Serif" size=3>
        <div align=center>
مرتب کردن نام ستون ها        </div>
    </font>    
</div>

In [ ]:
data = raw_data >> select('ID', 'Region', 'District', 'Peyman','Address', 'Spot', 'Irrigation', 'Species', 'نمایش آخرین ریزمتره (ریزمتره نهایی)', 'مساحت لکه (مترمربع)', 'مساحت پیمان (مترمربع)', 'نوع آیتم', 'نوع لکه', 'نام لکه', 'نوع قلم', 'زیرمجموعه هر قلم', 'پیمان', 'ردیف')

In [ ]:
data.rename(columns={
    'نمایش آخرین ریزمتره (ریزمتره نهایی)' : 'Irrigation_Area',
    'مساحت لکه (مترمربع)' : 'Address_Area',
    'مساحت پیمان (مترمربع)' : 'Peyman_Area',
    'نوع آیتم' : 'Item_Type',
    'نوع لکه' : 'Lake_Type',
    'نام لکه' : 'Lake_Name',
    'نوع قلم' : 'Ghalam_Type',
    'زیرمجموعه هر قلم' : 'Ghalam_SubType',
    'پیمان' : 'Check_point',
    'ردیف' : 'Radif'
}, inplace=True)

data

<div style="line-height:300%; background-color:black">
    <font color=white face="DejaVu Serif" size=3>
        <div align=center>
            حذف متر از گونه درخت و درختچه
</div>
    </font>    
</div>

### گزارش خطا

In [ ]:
tmp = data >> query('Ghalam_Type == "درخت و درختچه" and Ghalam_SubType == "متر"')
tmp.to_excel(PROJECT_PATH + "Report/Error_Metr.xlsx")

### اصلاح خطا

In [ ]:
tmp = data >> query('Ghalam_Type == "درخت و درختچه" and Ghalam_SubType == "متر"')
data.loc[list(tmp.index), "Ghalam_SubType"] = "متر مربع"

<div style="line-height:300%; background-color:black">
    <font color=white face="DejaVu Serif" size=3>
        <div align=center>
اضافه کردن «متر مربع» و «اصله» به دیتابیس</div>
    </font>    
</div>

### Define Extera Class

In [ ]:
Extera_Class = {
    'متر مربع' : '01',
    'اصله' : '02'
}

### Extract All Extera Class In Data

In [ ]:
tmp = data['Ghalam_SubType'].value_counts(dropna=False, sort=True).reset_index().rename(columns ={'index': 'Ghalam_SubType', 'Ghalam_SubType': 'Count'})
tmp['Extera'] = list(map(Extera_Class.get, tmp['Ghalam_SubType']))
tmp

### Add Extera Class to data

In [ ]:
data = pd.merge(data, tmp[['Ghalam_SubType', 'Extera']], how='left', left_on=['Ghalam_SubType'], right_on=['Ghalam_SubType'])
data.fillna(value=np.nan, inplace=True)

<div style="line-height:200%; background-color:green">
    <font color=white face="DejaVu Serif" size=5>
        <div align=center>            
            Create Report ...          
        </div>
    </font>    
</div>

### مقایسه مساحت آبیاری شده - مساحت لکه - مساحت پیمان

In [ ]:
pd.set_option('display.min_rows', 100)
pd.set_option('display.max_rows', 100)

RDPAI_GROUP = data.groupby(['Region', 'District', 'Peyman', 'Address','Irrigation'])

tmp = RDPAI_GROUP.agg({
    'Irrigation_Area' : 'sum',
    'Address_Area' : 'mean',
    'Peyman_Area' : 'mean'
})

tmp.to_excel(PROJECT_PATH + "Report/Compare_Irrigated_Address_Peyman_Area.xlsx", index=True)

tmp

### مقایسه مجموع مساحت آبیاری شده در هر آدرس با مساحت آن آدرس

In [ ]:
RDPAI_GROUP = data.groupby(['Region', 'District', 'Peyman', 'Address','Irrigation'])

tmp = RDPAI_GROUP.agg({
    'Irrigation_Area' : 'sum',
    'Address_Area' : 'mean',
    'Peyman_Area' : 'mean'
}).reset_index()

RDPA_GROUP = tmp.groupby(['Region', 'District', 'Peyman', 'Address'])

tmp = RDPA_GROUP.agg({
    'Irrigation_Area' : 'sum',
    'Address_Area' : 'mean'
})

tmp.to_excel(PROJECT_PATH + "Report/Compare_Irrigated_Address_Area.xlsx", index=True)

tmp

### مقایسه مجموع مساحت آبیاری شده در هر پیمان با مساحت آن پیمان

In [ ]:
RDPAI_GROUP = data.groupby(['Region', 'District', 'Peyman', 'Address','Irrigation'])

tmp = RDPAI_GROUP.agg({
    'Irrigation_Area' : 'sum',
    'Address_Area' : 'mean',
    'Peyman_Area' : 'mean'
}).reset_index()

RDP_GROUP = tmp.groupby(['Region', 'District', 'Peyman'])

tmp = RDP_GROUP.agg({
    'Irrigation_Area' : 'sum',
    'Peyman_Area' : 'mean'
})

tmp.to_excel(PROJECT_PATH + "Report/Compare_Irrigated_Peyman_Area.xlsx", index=True)

tmp

### چک کردن خطای موجود در مساحت پیمان ها

In [ ]:
RDP_GROUP = data.groupby(['Region', 'District', 'Peyman'])

tmp = RDP_GROUP.agg({
    'Peyman_Area' : ['min', 'max']
}).reset_index()

tmp.columns = ['Region', 'District', 'Peyman', 'Peyman_Area_min', 'Peyman_Area_max']

tmp = tmp >> define(Check = if_else('Peyman_Area_min == Peyman_Area_max', True, False))

tmp.to_excel(PROJECT_PATH + "Report/Peyman_Area_Check.xlsx", index=False)

tmp

### مقایسه مساحت آبیاری شده و مساحت گونه

In [ ]:
RDPASI_GROUP = data.groupby(['Region', 'District', 'Peyman', 'Address', 'Species', 'Irrigation'])

tmp1 = RDPASI_GROUP.agg({'Irrigation_Area' : 'sum'}).reset_index()

tmp1 = tmp1.groupby(['Region', 'District', 'Peyman', 'Address', 'Species']).agg({'Irrigation_Area' : 'sum'})

tmp1 = tmp1.reset_index().rename(columns ={'Irrigation_Area': 'Irrigation'})

print(tmp1.shape)

tmp1

In [ ]:
RDPASE_GROUP = data.groupby(['Region', 'District', 'Peyman', 'Address', 'Species', 'Extera'])

tmp2 = RDPASE_GROUP.agg({'Irrigation_Area' : 'sum'}).reset_index()

tmp2 = tmp2 >> query("Extera == '01'")

tmp2 = tmp2.groupby(['Region', 'District', 'Peyman', 'Address', 'Species']).agg({'Irrigation_Area' : 'sum'})

tmp2 = tmp2.reset_index().rename(columns ={'Irrigation_Area': 'Area'})

print(tmp2.shape)

tmp2

In [ ]:
tmp = outer_join(tmp1, tmp2, on=['Region', 'District', 'Peyman', 'Address', 'Species'])
tmp = tmp >> define(Check = if_else('Irrigation == Area', True, False))
print(tmp['Check'].value_counts())

tmp.to_excel(PROJECT_PATH + 'Report/Check_IrrigationArea_SpeciesArea.xlsx', index=False)
tmp

### مقایسه مساحت آبیاری شده به تفکیک سیستم آبیاری - پیمان - ناحیه - منطقه

In [ ]:
data.pivot_table(values="Irrigation_Area",
                 index=['Region', 'District', 'Peyman'],
                 columns=['Irrigation'],
                 aggfunc='sum').to_excel(PROJECT_PATH + "Report/PivotTable_Region_District_Peyman_Irrigation_IrrigationArea.xlsx")

### مقایسه مساحت آبیاری شده به تفکیک نوع گونه - پیمان - ناحیه - منطقه

In [ ]:
data.pivot_table(values="Irrigation_Area",
                 index=['Region', 'District', 'Peyman'],
                 columns=['Species'],
                 aggfunc='sum').to_excel(PROJECT_PATH + "Report/PivotTable_Region_District_Peyman_Species_IrrigationArea.xlsx")

### مقایسه مساحت آبیاری شده به تفکیک سیستم آبیاری - نوع گونه - پیمان - ناحیه - منطقه

In [ ]:
data.pivot_table(values="Irrigation_Area",
                 index=['Region', 'District', 'Peyman'],
                 columns=['Irrigation', 'Species'],
                 aggfunc='sum').to_excel(PROJECT_PATH + "Report/PivotTable_Region_District_Peyman_Irrigation_Species_IrrigationArea.xlsx")

<div style="line-height:200%; background-color:green">
    <font color=white face="DejaVu Serif" size=5>
        <div align=center>            
            ... Create Report        
        </div>
    </font>    
</div>

<div style="line-height:600%; background-color:#595959">
    <font color=white face="DejaVu Serif" size=5>
        <div align=center>            
            Save Data            
        </div>
    </font>    
</div>

In [ ]:
data.to_excel(PROJECT_PATH + "Report/Data.xlsx", index=False)

<div style="line-height:600%; background-color:#595959">
    <font color=white face="DejaVu Serif" size=5>
        <div align=center>            
            ETc Calculation            
        </div>
    </font>    
</div>

In [ ]:
data = data >> define(Species = if_else('Extera == "02"', '"13"', 'Species'))

s = 'Region + District + Peyman + Address + "-" + Spot + "00" + Species'
data = data >> define(ID = if_else('Extera == "02"', s, 'ID'))

data['Species'].replace(to_replace='nan', value=np.NaN, inplace=True)
data['ID'].replace(to_replace='nan', value=np.NaN, inplace=True)

data = data >> call('.dropna', subset=['ID'])

<div style="line-height:300%; background-color:black">
    <font color=white face="DejaVu Serif" size=3>
        <div align=center>
            محاسبه راندمان آبیاری        
        </div>
    </font>    
</div>

### ایجاد کلاس راندمان آبیاری

In [ ]:
Eff = {
    '01' : 0.70,
    '02' : 0.60,
    '03' : 0.80,
    '04' : 0.80    
}

### اضافه کردن راندمان آبیاری به دیتابیس

In [ ]:
data['Eff'] = list(map(Eff.get, data['Irrigation']))

<div style="line-height:300%; background-color:black">
    <font color=white face="DejaVu Serif" size=3>
        <div align=center>
            محاسبه ضریب خورد اقلیم        
        </div>
    </font>    
</div>

### ایجاد کلاس ضریب خورد اقلیم

In [ ]:
Kmc = {
    '01' : 1.20,
    '02' : 1.20,
    '03' : 1.15,
    '04' : 1.10,
    '05' : 1.10,
    '06' : 1.05,
    '07' : 1.05,
    '08' : 1.00,
    '09' : 0.90,
    '10' : 0.80,
    '11' : 1.00,
    '12' : 1.05,
    '13' : 1.05    
}

### اضافه کردن ضریب خورد اقلیم به دیتابیس

In [ ]:
data['Kmc'] = list(map(Kmc.get, data['Spot']))

<div style="line-height:300%; background-color:black">
    <font color=white face="DejaVu Serif" size=3>
        <div align=center>
            محاسبه ضریب گونه        
        </div>
    </font>    
</div>

### ایجاد کلاس ضریب گونه

In [ ]:
Ksp = {
    '01' : 0.70,
    '02' : 0.75,
    '04' : 0.80,
    '05' : 0.80,
    '06' : 0.80,
    '10' : 0.70,
    '12' : 0.49,
    '13' : 0.00,
    '14' : 0.80    
}

### اضافه کردن ضریب گونه به دیتابیس

In [ ]:
data['Ksp'] = list(map(Ksp.get, data['Species']))

<div style="line-height:300%; background-color:black">
    <font color=white face="DejaVu Serif" size=3>
        <div align=center>
            محاسبه ضریب تراکم        
        </div>
    </font>    
</div>

### ایجاد کلاس ضریب تراکم

In [ ]:
Kd = {
    1 : 1,
    2 : 1,
    3 : 1.2,
    4 : 1.2,
    5 : 1.3,
    6 : 1.3,
    7 : 1.3,
    8 : 1.3    
}

In [ ]:
def name(x):
    x = list(x)
    if "10" in x and "13" in x:
        return -1
    else:
        return 0

In [ ]:
a = data.groupby(by=['Region', 'District', 'Peyman', 'Address', 'Irrigation'])
a = a.size().reset_index().rename(columns={0 : 'Species_Count'})

b = data.groupby(by=['Region', 'District', 'Peyman', 'Address', 'Extera'])
b = b.size().reset_index().rename(columns={0 : 'Asleh'})

c = a >> left_join(b, on=['Region', 'District', 'Peyman', 'Address']) >> call(pd.DataFrame.fillna, 0)

d = data.groupby(by=['Region', 'District', 'Peyman', 'Address'])
d = d.agg({'Species' : name}).reset_index().rename(columns={'Species' : 'Double_Asleh'})

e = c >> left_join(d, on=['Region', 'District', 'Peyman', 'Address']) >> define(Species_Count = 'Species_Count + Asleh + Double_Asleh') >> select('Extera', 'Asleh', 'Double_Asleh', drop=True)

data = data >> left_join(e, on=['Region', 'District', 'Peyman', 'Address', 'Irrigation'])
data

### اضافه کردن ضریب تراکم به دیتابیس

In [ ]:
data['Kd'] = list(map(Kd.get, data['Species_Count']))

مرحله جدید

In [ ]:
KspChangeYear = {
    '01' : [0.60, 0.75, 0.90, 1.00, 0.95, 0.80, 0.60, 0.45, 0.35, 0.25, 0.30, 0.40],
    '02' : [0.60, 0.75, 0.90, 1.00, 0.95, 0.80, 0.60, 0.45, 0.35, 0.25, 0.30, 0.40],
    '04' : [0.60, 0.75, 0.90, 1.00, 0.95, 0.80, 0.60, 0.45, 0.35, 0.25, 0.30, 0.40],
    '05' : [0.60, 0.75, 0.90, 1.00, 0.95, 0.80, 0.60, 0.45, 0.35, 0.25, 0.30, 0.40],
    '06' : [0.60, 0.75, 0.90, 1.00, 0.95, 0.80, 0.60, 0.45, 0.35, 0.25, 0.30, 0.40],
    '10' : [0.60, 0.75, 0.90, 1.00, 0.95, 0.80, 0.60, 0.45, 0.35, 0.25, 0.30, 0.40],
    '12' : [0.60, 0.75, 0.90, 1.00, 0.95, 0.80, 0.60, 0.45, 0.35, 0.25, 0.30, 0.40],
    '13' : [0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00],
    '14' : [0.60, 0.75, 0.90, 1.00, 0.95, 0.80, 0.60, 0.45, 0.35, 0.25, 0.30, 0.40]    
}

Ksp_Month_Name = ['Ksp_M01', 'Ksp_M02', 'Ksp_M03', 'Ksp_M04', 'Ksp_M05', 'Ksp_M06',
'Ksp_M07', 'Ksp_M08', 'Ksp_M09', 'Ksp_M10', 'Ksp_M11', 'Ksp_M12']

KspChangeYear = pd.DataFrame(KspChangeYear, index=Ksp_Month_Name).T

KspChangeYear = KspChangeYear.reset_index().rename(columns = {'index' : 'Species'})

data = data >> left_join(KspChangeYear, on='Species')

In [ ]:
tmp1 = data.groupby(by=['Region', 'District', 'Peyman', 'Address', 'Irrigation'])['Irrigation_Area']
tmp1 = tmp1.sum().reset_index().rename(columns={'Irrigation_Area' : 'SubIrrigation_Area'})

data = data >> left_join(tmp1, on=['Region', 'District', 'Peyman', 'Address', 'Irrigation'])

In [ ]:
data = data >> define(Ksp_M01 = 'Ksp_M01 * Ksp * Irrigation_Area / SubIrrigation_Area')
data = data >> define(Ksp_M02 = 'Ksp_M02 * Ksp * Irrigation_Area / SubIrrigation_Area')
data = data >> define(Ksp_M03 = 'Ksp_M03 * Ksp * Irrigation_Area / SubIrrigation_Area')
data = data >> define(Ksp_M04 = 'Ksp_M04 * Ksp * Irrigation_Area / SubIrrigation_Area')
data = data >> define(Ksp_M05 = 'Ksp_M05 * Ksp * Irrigation_Area / SubIrrigation_Area')
data = data >> define(Ksp_M06 = 'Ksp_M06 * Ksp * Irrigation_Area / SubIrrigation_Area')
data = data >> define(Ksp_M07 = 'Ksp_M07 * Ksp * Irrigation_Area / SubIrrigation_Area')
data = data >> define(Ksp_M08 = 'Ksp_M08 * Ksp * Irrigation_Area / SubIrrigation_Area')
data = data >> define(Ksp_M09 = 'Ksp_M09 * Ksp * Irrigation_Area / SubIrrigation_Area')
data = data >> define(Ksp_M10 = 'Ksp_M10 * Ksp * Irrigation_Area / SubIrrigation_Area')
data = data >> define(Ksp_M11 = 'Ksp_M11 * Ksp * Irrigation_Area / SubIrrigation_Area')
data = data >> define(Ksp_M12 = 'Ksp_M12 * Ksp * Irrigation_Area / SubIrrigation_Area')

In [ ]:
tmp1 = data.groupby(by=['Region', 'District', 'Peyman', 'Address', 'Irrigation'])['Ksp_M01', 'Ksp_M02', 'Ksp_M03', 'Ksp_M04', 'Ksp_M05', 'Ksp_M06', 'Ksp_M07', 'Ksp_M08', 'Ksp_M09', 'Ksp_M10', 'Ksp_M11', 'Ksp_M12'].sum().reset_index()

tmp1 = tmp1.rename(columns={
    'Ksp_M01' : 'Ksp_M01_Sum_SubIrigation',
    'Ksp_M02' : 'Ksp_M02_Sum_SubIrigation',
    'Ksp_M03' : 'Ksp_M03_Sum_SubIrigation',
    'Ksp_M04' : 'Ksp_M04_Sum_SubIrigation',
    'Ksp_M05' : 'Ksp_M05_Sum_SubIrigation',
    'Ksp_M06' : 'Ksp_M06_Sum_SubIrigation',
    'Ksp_M07' : 'Ksp_M07_Sum_SubIrigation',
    'Ksp_M08' : 'Ksp_M08_Sum_SubIrigation',
    'Ksp_M09' : 'Ksp_M09_Sum_SubIrigation',
    'Ksp_M10' : 'Ksp_M10_Sum_SubIrigation',
    'Ksp_M11' : 'Ksp_M11_Sum_SubIrigation',
    'Ksp_M12' : 'Ksp_M12_Sum_SubIrigation'
})

data = data >> left_join(tmp1, on=['Region', 'District', 'Peyman', 'Address', 'Irrigation'])

In [ ]:
data = data >> define(KL_M01 = 'Ksp_M01_Sum_SubIrigation * Kmc * Kd')
data = data >> define(KL_M02 = 'Ksp_M02_Sum_SubIrigation * Kmc * Kd')
data = data >> define(KL_M03 = 'Ksp_M03_Sum_SubIrigation * Kmc * Kd')
data = data >> define(KL_M04 = 'Ksp_M04_Sum_SubIrigation * Kmc * Kd')
data = data >> define(KL_M05 = 'Ksp_M05_Sum_SubIrigation * Kmc * Kd')
data = data >> define(KL_M06 = 'Ksp_M06_Sum_SubIrigation * Kmc * Kd')
data = data >> define(KL_M07 = 'Ksp_M07_Sum_SubIrigation * Kmc * Kd')
data = data >> define(KL_M08 = 'Ksp_M08_Sum_SubIrigation * Kmc * Kd')
data = data >> define(KL_M09 = 'Ksp_M09_Sum_SubIrigation * Kmc * Kd')
data = data >> define(KL_M10 = 'Ksp_M10_Sum_SubIrigation * Kmc * Kd')
data = data >> define(KL_M11 = 'Ksp_M11_Sum_SubIrigation * Kmc * Kd')
data = data >> define(KL_M12 = 'Ksp_M12_Sum_SubIrigation * Kmc * Kd')

In [ ]:
data

In [ ]:
ETL_Info = {
    'Number_Day' : [31, 31, 31, 31, 31, 31, 30, 30, 30, 30, 30, 29],
    'PET' : [106, 136, 163, 176, 165, 139, 104, 78, 60, 51, 53, 73],
    'Eff_Precipitation' : [23.5, 17.2, 6.6, 1.1, 0.2, 0.7, 5.0, 8.1, 11.4, 20.2, 21.6, 25.0],
    'Ground_Water' : [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
    'Deficit_Irrigation' : [0.95, 0.95, 0.95, 0.95, 0.95, 0.95, 0.95, 0.95, 0.95, 0.95, 0.95, 0.95],
    'LF' : [0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05],
    'Shading_Area' : [1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00],
    'Percentage_Wetted_Area' : [100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]   
}

Month_Name = ['M01', 'M02', 'M03', 'M04', 'M05', 'M06', 'M07', 'M08', 'M09', 'M10', 'M11', 'M12']

ETL_Info = pd.DataFrame(ETL_Info, index=Month_Name)


tmp1 = data.groupby(by=['Region', 'District', 'Peyman', 'Address', 'Irrigation'])

tmp1 = tmp1['KL_M01', 'KL_M02', 'KL_M03', 'KL_M04', 'KL_M05', 'KL_M06', 'KL_M07', 'KL_M08', 'KL_M09', 'KL_M10', 'KL_M11', 'KL_M12', 'SubIrrigation_Area', 'Eff'].mean().reset_index()


month = "M01"
tmp1 = tmp1 >> define(ETL_M01 = '(KL_M01 * ETL_Info.loc[month]["PET"] * ETL_Info.loc[month]["Deficit_Irrigation"] * ETL_Info.loc[month]["Shading_Area"] - (ETL_Info.loc[month]["Eff_Precipitation"] + ETL_Info.loc[month]["Ground_Water"]) * ETL_Info.loc[month]["Percentage_Wetted_Area"] / 100) / ETL_Info.loc[month]["Number_Day"] / (1 - ETL_Info.loc[month]["LF"]) / Eff')
tmp1 = tmp1 >> define(ETL_M01 = if_else('ETL_M01 < 0', 0, 'ETL_M01'))
tmp1 = tmp1 >> define(IrriReq_M01 = 'ETL_M01 * ETL_Info.loc[month]["Number_Day"] * SubIrrigation_Area / 1000 / 1000')


month = "M02"
tmp1 = tmp1 >> define(ETL_M02 = '(KL_M02 * ETL_Info.loc[month]["PET"] * ETL_Info.loc[month]["Deficit_Irrigation"] * ETL_Info.loc[month]["Shading_Area"] - (ETL_Info.loc[month]["Eff_Precipitation"] + ETL_Info.loc[month]["Ground_Water"]) * ETL_Info.loc[month]["Percentage_Wetted_Area"] / 100) / ETL_Info.loc[month]["Number_Day"] / (1 - ETL_Info.loc[month]["LF"]) / Eff')
tmp1 = tmp1 >> define(ETL_M02 = if_else('ETL_M02 < 0', 0, 'ETL_M02'))
tmp1 = tmp1 >> define(IrriReq_M02 = 'ETL_M02 * ETL_Info.loc[month]["Number_Day"] * SubIrrigation_Area / 1000 / 1000')


month = "M03"
tmp1 = tmp1 >> define(ETL_M03 = '(KL_M03 * ETL_Info.loc[month]["PET"] * ETL_Info.loc[month]["Deficit_Irrigation"] * ETL_Info.loc[month]["Shading_Area"] - (ETL_Info.loc[month]["Eff_Precipitation"] + ETL_Info.loc[month]["Ground_Water"]) * ETL_Info.loc[month]["Percentage_Wetted_Area"] / 100) / ETL_Info.loc[month]["Number_Day"] / (1 - ETL_Info.loc[month]["LF"]) / Eff')
tmp1 = tmp1 >> define(ETL_M03 = if_else('ETL_M03 < 0', 0, 'ETL_M03'))
tmp1 = tmp1 >> define(IrriReq_M03 = 'ETL_M03 * ETL_Info.loc[month]["Number_Day"] * SubIrrigation_Area / 1000 / 1000')


month = "M04"
tmp1 = tmp1 >> define(ETL_M04 = '(KL_M04 * ETL_Info.loc[month]["PET"] * ETL_Info.loc[month]["Deficit_Irrigation"] * ETL_Info.loc[month]["Shading_Area"] - (ETL_Info.loc[month]["Eff_Precipitation"] + ETL_Info.loc[month]["Ground_Water"]) * ETL_Info.loc[month]["Percentage_Wetted_Area"] / 100) / ETL_Info.loc[month]["Number_Day"] / (1 - ETL_Info.loc[month]["LF"]) / Eff')
tmp1 = tmp1 >> define(ETL_M04 = if_else('ETL_M04 < 0', 0, 'ETL_M04'))
tmp1 = tmp1 >> define(IrriReq_M04 = 'ETL_M04 * ETL_Info.loc[month]["Number_Day"] * SubIrrigation_Area / 1000 / 1000')


month = "M05"
tmp1 = tmp1 >> define(ETL_M05 = '(KL_M05 * ETL_Info.loc[month]["PET"] * ETL_Info.loc[month]["Deficit_Irrigation"] * ETL_Info.loc[month]["Shading_Area"] - (ETL_Info.loc[month]["Eff_Precipitation"] + ETL_Info.loc[month]["Ground_Water"]) * ETL_Info.loc[month]["Percentage_Wetted_Area"] / 100) / ETL_Info.loc[month]["Number_Day"] / (1 - ETL_Info.loc[month]["LF"]) / Eff')
tmp1 = tmp1 >> define(ETL_M05 = if_else('ETL_M05 < 0', 0, 'ETL_M05'))
tmp1 = tmp1 >> define(IrriReq_M05 = 'ETL_M05 * ETL_Info.loc[month]["Number_Day"] * SubIrrigation_Area / 1000 / 1000')


month = "M06"
tmp1 = tmp1 >> define(ETL_M06 = '(KL_M06 * ETL_Info.loc[month]["PET"] * ETL_Info.loc[month]["Deficit_Irrigation"] * ETL_Info.loc[month]["Shading_Area"] - (ETL_Info.loc[month]["Eff_Precipitation"] + ETL_Info.loc[month]["Ground_Water"]) * ETL_Info.loc[month]["Percentage_Wetted_Area"] / 100) / ETL_Info.loc[month]["Number_Day"] / (1 - ETL_Info.loc[month]["LF"]) / Eff')
tmp1 = tmp1 >> define(ETL_M06 = if_else('ETL_M06 < 0', 0, 'ETL_M06'))
tmp1 = tmp1 >> define(IrriReq_M06 = 'ETL_M06 * ETL_Info.loc[month]["Number_Day"] * SubIrrigation_Area / 1000 / 1000')


month = "M07"
tmp1 = tmp1 >> define(ETL_M07 = '(KL_M07 * ETL_Info.loc[month]["PET"] * ETL_Info.loc[month]["Deficit_Irrigation"] * ETL_Info.loc[month]["Shading_Area"] - (ETL_Info.loc[month]["Eff_Precipitation"] + ETL_Info.loc[month]["Ground_Water"]) * ETL_Info.loc[month]["Percentage_Wetted_Area"] / 100) / ETL_Info.loc[month]["Number_Day"] / (1 - ETL_Info.loc[month]["LF"]) / Eff')
tmp1 = tmp1 >> define(ETL_M07 = if_else('ETL_M07 < 0', 0, 'ETL_M07'))
tmp1 = tmp1 >> define(IrriReq_M07 = 'ETL_M07 * ETL_Info.loc[month]["Number_Day"] * SubIrrigation_Area / 1000 / 1000')


month = "M08"
tmp1 = tmp1 >> define(ETL_M08 = '(KL_M08 * ETL_Info.loc[month]["PET"] * ETL_Info.loc[month]["Deficit_Irrigation"] * ETL_Info.loc[month]["Shading_Area"] - (ETL_Info.loc[month]["Eff_Precipitation"] + ETL_Info.loc[month]["Ground_Water"]) * ETL_Info.loc[month]["Percentage_Wetted_Area"] / 100) / ETL_Info.loc[month]["Number_Day"] / (1 - ETL_Info.loc[month]["LF"]) / Eff')
tmp1 = tmp1 >> define(ETL_M08 = if_else('ETL_M08 < 0', 0, 'ETL_M08'))
tmp1 = tmp1 >> define(IrriReq_M08 = 'ETL_M08 * ETL_Info.loc[month]["Number_Day"] * SubIrrigation_Area / 1000 / 1000')


month = "M09"
tmp1 = tmp1 >> define(ETL_M09 = '(KL_M09 * ETL_Info.loc[month]["PET"] * ETL_Info.loc[month]["Deficit_Irrigation"] * ETL_Info.loc[month]["Shading_Area"] - (ETL_Info.loc[month]["Eff_Precipitation"] + ETL_Info.loc[month]["Ground_Water"]) * ETL_Info.loc[month]["Percentage_Wetted_Area"] / 100) / ETL_Info.loc[month]["Number_Day"] / (1 - ETL_Info.loc[month]["LF"]) / Eff')
tmp1 = tmp1 >> define(ETL_M09 = if_else('ETL_M09 < 0', 0, 'ETL_M09'))
tmp1 = tmp1 >> define(IrriReq_M09 = 'ETL_M09 * ETL_Info.loc[month]["Number_Day"] * SubIrrigation_Area / 1000 / 1000')


month = "M10"
tmp1 = tmp1 >> define(ETL_M10 = '(KL_M10 * ETL_Info.loc[month]["PET"] * ETL_Info.loc[month]["Deficit_Irrigation"] * ETL_Info.loc[month]["Shading_Area"] - (ETL_Info.loc[month]["Eff_Precipitation"] + ETL_Info.loc[month]["Ground_Water"]) * ETL_Info.loc[month]["Percentage_Wetted_Area"] / 100) / ETL_Info.loc[month]["Number_Day"] / (1 - ETL_Info.loc[month]["LF"]) / Eff')
tmp1 = tmp1 >> define(ETL_M10 = if_else('ETL_M10 < 0', 0, 'ETL_M10'))
tmp1 = tmp1 >> define(IrriReq_M10 = 'ETL_M10 * ETL_Info.loc[month]["Number_Day"] * SubIrrigation_Area / 1000 / 1000')


month = "M11"
tmp1 = tmp1 >> define(ETL_M11 = '(KL_M11 * ETL_Info.loc[month]["PET"] * ETL_Info.loc[month]["Deficit_Irrigation"] * ETL_Info.loc[month]["Shading_Area"] - (ETL_Info.loc[month]["Eff_Precipitation"] + ETL_Info.loc[month]["Ground_Water"]) * ETL_Info.loc[month]["Percentage_Wetted_Area"] / 100) / ETL_Info.loc[month]["Number_Day"] / (1 - ETL_Info.loc[month]["LF"]) / Eff')
tmp1 = tmp1 >> define(ETL_M11 = if_else('ETL_M11 < 0', 0, 'ETL_M11'))
tmp1 = tmp1 >> define(IrriReq_M11 = 'ETL_M11 * ETL_Info.loc[month]["Number_Day"] * SubIrrigation_Area / 1000 / 1000')


month = "M12"
tmp1 = tmp1 >> define(ETL_M12 = '(KL_M12 * ETL_Info.loc[month]["PET"] * ETL_Info.loc[month]["Deficit_Irrigation"] * ETL_Info.loc[month]["Shading_Area"] - (ETL_Info.loc[month]["Eff_Precipitation"] + ETL_Info.loc[month]["Ground_Water"]) * ETL_Info.loc[month]["Percentage_Wetted_Area"] / 100) / ETL_Info.loc[month]["Number_Day"] / (1 - ETL_Info.loc[month]["LF"]) / Eff')
tmp1 = tmp1 >> define(ETL_M12 = if_else('ETL_M12 < 0', 0, 'ETL_M12'))
tmp1 = tmp1 >> define(IrriReq_M12 = 'ETL_M12 * ETL_Info.loc[month]["Number_Day"] * SubIrrigation_Area / 1000 / 1000')


tmp1 = tmp1 >> define(ETL_YEAR = 'ETL_M01 * ETL_Info.loc["M01"]["Number_Day"] + ETL_M02 * ETL_Info.loc["M02"]["Number_Day"] + ETL_M03 * ETL_Info.loc["M03"]["Number_Day"] + ETL_M04 * ETL_Info.loc["M04"]["Number_Day"] + ETL_M05 * ETL_Info.loc["M05"]["Number_Day"] + ETL_M06 * ETL_Info.loc["M06"]["Number_Day"] + ETL_M07 * ETL_Info.loc["M07"]["Number_Day"] + ETL_M08 * ETL_Info.loc["M08"]["Number_Day"] + ETL_M09 * ETL_Info.loc["M09"]["Number_Day"] + ETL_M10 * ETL_Info.loc["M10"]["Number_Day"] + ETL_M11 * ETL_Info.loc["M11"]["Number_Day"] + ETL_M12 * ETL_Info.loc["M12"]["Number_Day"]')
tmp1 = tmp1 >> define(IrriReq_YEAR = 'ETL_YEAR * SubIrrigation_Area / 1000 / 1000')


tmp1

In [ ]:
tmp1.to_excel('result.xlsx')

In [ ]:
tmp1.groupby(['Region', 'District']).agg({
    'SubIrrigation_Area' : 'sum',
    'ETL_YEAR' : 'mean',
    'IrriReq_YEAR' : 'sum'
}).reset_index().rename(columns={'Region' : 'منطقه', 'District' : 'ناحیه', 'SubIrrigation_Area' : 'مساحت تحت آبیاری - مترمربع', 'ETL_YEAR' : 'نیاز آبیاری - میلیمتر در سال', 'IrriReq_YEAR' : 'نیاز آبیاری سالانه - هزار مترمکعب'}).to_excel('result2.xlsx')